<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
  <script type="text/javascript" src="../assets/js/bootstrap.min.jss"></script>
	<title>my portfolio</title>
</head>
<body>
<!--Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#contact">contact</a>
      </li>
    </ul>
  </div>
</nav>
<!--image and short intro-->
<div class="container- fulid p-5 bg-light text-center">
  <img src="../assets/img/at.jpg"height="100px width="100px class="rounded-circle">
  
<h4 style="color:green;">Atlas</h4>
<img src="../assets/img/facebook.svg" height="50" width="50">
<img src="../assets/img/instagram.svg" height="50" width="50">


<!--About sectoin-->
<div class="conainer mt-5">
<h2 id="about">About</h2>
<font size="5">
  My name is aakash tamang.I am 17 years old.I lives in sankhu with my parents.I wake Early in the morning.I am strong and healthy. I love to eat food. MY Favourite food is mix pizza and crunchy chicken burger.I love to play sports game.my favourite game is football. I have recently complete SEE from sankhu palubari community school.I aslo join computer class.My institute name is Kathalaya institute training and consulting.It is located in chabahil,KL Tower 3 <sup>rd</sup> floor.
</font>
</div>

<!--Academic History section-->
<div class="continer mt-5">
  <h2>Academic History</h2> 
  <div class="row">
<div class="col-lg-4 d-flex align-items-stretch">
  <div class="card border-secondary nb-3" style="max-width: 18rem;">
   <div class="card-header"><h5 class="card title">Basci level Examination(BLE)</h5></div>
    <div class="card-body text-secondary">
      <p class="card-text">school:sankhu palubari community school<br>
      Location:sankhu,palubari
      G.P.A:3.5
      Year:2077
      Contact:9818190640
      web:<a href="https://www.facebook.com/SankhuPalubariCommunitySchool">sankhu palubari community school</a>
    </p>
    </div>
  </div>
  </div>

 <div class="col-lg-4 d-flex align-items-stretch">
  <div class="card border-secondary nb-3" style="max-width: 18rem;">
   <div class="card-header"><h5 class="card title">secondary level Examination(SEE)</h5></div>
    <div class="card-body text-secondary">
      <p class="card-text">school:sankhu palubari community school<br>
      Location:sankhu,palubari
      G.P.A:3.2
      Year:2079
      Contact:9818190640
       web:<a href="https://www.facebook.com/SankhuPalubariCommunitySchool">sankhu palubari community school</a>
    </p>
    </div>
  </div>
  </div> 

 <div class="col-lg-4 d-flex align-items-stretch">
  <div class="card border-secondary nb-3" style="max-width: 18rem;">
   <div class="card-header"><h5 class="card title">Computer course</h5></div>
    <div class="card-body text-secondary">
      <p class="card-text">Insititute: Kathalaya inistitute training and consulting<br>
       Location: KL Tower-3<sup>rd</sup> floor, Chabahil,Kathmandu.<br>
           Contact: 9886601946, 9851060064,<br>9806851744
           Web:<a href="https://www.facebook.com/pages/category/Education/Kathalaya-institute-of-training-and-consulting-108772507403243/">https://www.facebook.com/pages/category/Education/Kathalaya-institute-of-training-and-consulting-108772507403243/</a>
           <br>
    </p>
    </div>
  </div>
  </div>
</div>
</div>
         <!-- Contact Form -->
      <div class="container">
        <h2 id="contact">Contact Me</h2>
          <div class="row">
              <div class="col-md-8">
                  <div class="well well-sm">
                    <form>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Name</label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                              </div>
                              <div class="form-group">
                                  <label for="email"> Email Address</label>
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                              </div>
                              <div class="form-group">
                                  <label for="subject">Subject</label>
                                  <select id="subject" name="subject" class="form-control" required="required">
                                      <option value="na" selected="">Choose One:</option>
                                      <option value="service">Job Offer</option>
                                      <option value="suggestions">Suggestions</option>
                                      <option value="product">Scholarship</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">Message</label>
                                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                      placeholder="Message"></textarea>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
                          </div>
                      </div>
                    </form>
                  </div>
              </div>
              <div class="col-md-4">
                <form>
                  <legend><span class="glyphicon glyphicon-globe"></span> Adress</legend>
                  <address>
                      <strong>kathmandu sanku</strong><br>
                      
                      <abbr title="phone">P:</abbr>
                      9818190640
                  </address>
                  <address>
                      <strong>Full Name</strong><br>
                      <a href="mailto:#">aakashwaiba571@gmail.com</a>
                  </address>
                </form>
              </div>
          </div>
      </div>




      <!-- Footer -->
      <Footer class="page-footer font-small dark">
        <!--copyright-->
        <div class="footer-copyright text-centre py-3">&copy;2020 copyright:
          <a href="/">ATLAS</a>
        </div>
        <!--copyright-->
      </footer>
        


</body>
</html>